*.tsv
*.csv
.vscode
temp
lastcheck
pdf-src/
out/
stories/text.text
git-filter-repo.py

*.sublime-workspace
*.sublime-project
*.tmLanguage
*.ttf
*.otf
*.cache
*.jpg
*.png
*__pycache__*
*~
count_cache.db
